@page "/about"

<PageTitle>About</PageTitle>

<h1>About KnowYourBand</h1>

<p>
    Welcome to KnowYourBand! This application is designed to help you discover and learn more about your favorite bands.
    Built with a heavy metal aesthetic in mind, it provides a fast and interactive experience for music enthusiasts.
</p>

<h2>Creator</h2>
<p>
    Created by Alberto Gregorio. Visit <a href="https://albertogregorio.com" target="_blank">albertogregorio.com</a> for more information.
</p>

<h2>Support</h2>
<p>If you like this project, consider supporting the development!</p>

<a href="https://buymeacoffee.com/albertogregorio" target="_blank">
    <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;" >
</a>
